body{
    background-color: goldenrod;
}

h1{
    font-family: 'Unkempt', cursive;
    text-align: center;
}

nav{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table{
    text-align: center;
    border: 2px solid grey;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: 2px solid grey;
    padding: .5rem;
}

.card {
    list-style: none;
    padding: 50px;
    background-color: aliceblue;
    color: #222;
    text-align: center;
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: aliceblue;
}

.part-quiz-1{
    float: left; 
    width: 30vw;
    margin-left: 10vw;
    padding: 0;
}

.part-quiz-2{
    float: right; 
    width: 30vw;
    margin-left: 10vw;
    padding: 0;
}

.q{
    margin-bottom: 15px;
}

.button-quiz{
    margin-top: 10px;
}

.check-button{
    background-color: aliceblue;
}

.check-correct{
    background-color: green;
}

.check-wrong{
    background-color: crimson;
}

.answer{
    display: block;
}

.pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.card-title {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.card-subtitle {
    color:black;
    margin-top: 5px;
}

.card-image{
    height: 180px;
    margin: 0 auto;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 228, 196, 0.616);
    transform: scale(0);
}

.modal-content{
    background-color: gainsboro;
    width: 90vw;
    height: 75vh;
    padding: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y: scroll;
}

.modal--show{
    transform: scale(1);
}

.container {
    padding: 40px;
    margin:0 auto;
}

.link-no-style{
    text-decoration: none;
    color: #222;
}

.typebox{
    
    border-style: ridge;
    margin-left: 10px;
    border-radius: 5px;
    padding: 2px;
    color: rgb(47, 49, 49);
}

.grass{
    background-color: rgb(98, 182, 98);
}

.poison{
    background-color: rgb(153, 89, 212);
}

.fire{
    background-color: rgb(230, 84, 84);
}

.water{
    background-color: deepskyblue;
}

.flying{
    background-color: skyblue;
}

.bug{
    background-color: greenyellow;
}

.normal{
    background-color: rgb(170, 169, 166);
}

.electric{
    background-color: yellow;
}

.ground{
    background-color: rgb(173, 143, 103);
}

.fairy{
    background-color: pink;
}

.fighting{
    background-color: brown;
}

.psychic{
    background-color: palevioletred;
}

.rock{
    background-color: rgb(129, 93, 36);
}

.steel{
    background-color: steelblue;
}

.ice{
    background-color: aqua;
}

.ghost{
    background-color: rgb(122, 83, 212);
}

.dragon{
    background-color: rgb(134, 134, 255);
}

.dark{
    background-color: #222;
    color: white;
}

.card:hover {
    animation: bounce 0.5s linear
}
@keyframes bounce {
    20% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(-0px);
    }
}
