body{
    background-color: goldenrod
}

.card {
    list-style: none;
    padding: 50px;
    background-color: aliceblue;
    color: #222;
    text-align: center;
}

.card-title {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.card-subtitle {
    color:black;
    margin-top: 5px;
}

.card-image{
    height: 180px;
    margin: 0 auto;
}

/*.menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: aqua;
}

.pokemon{
    background-color: brown;
    height: 300px;
}
*/