body{
    background-color: goldenrod
}

.card {
    list-style: none;
    padding: 50px;
    background-color: aliceblue;
    color: #222;
    text-align: center;
}

.pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.card-title {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.card-subtitle {
    color:black;
    margin-top: 5px;
}

.card-image{
    height: 180px;
    margin: 0 auto;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 228, 196, 0.616);
    transform: scale(0);
}

.modal-content{
    background-color: gainsboro;
    width: 90vw;
    height: 75vh;
    padding: 3rem;
}

.modal--show{
    transform: scale(1);
}

.container {
    padding: 40px;
    margin:0 auto;
}

.typebox{
    text-decoration: none;
    border-style: ridge;
    margin-left: 10px;
    border-radius: 5px;
    padding: 2px;
    color: rgb(47, 49, 49);
}

.grass{
    background-color: green;
}

.poison{
    background-color: blueviolet;
}

.fire{
    background-color: firebrick;
}

.water{
    background-color: deepskyblue;
}

.flying{
    background-color: skyblue;
}

.bug{
    background-color: greenyellow;
}

.normal{
    background-color: rgb(170, 164, 155);
}

.electric{
    background-color: yellow;
}

.ground{
    background-color: rgb(94, 74, 48);
}

.fairy{
    background-color: pink;
}

.fighting{
    background-color: brown;
}

.psychic{
    background-color: palevioletred;
}

.rock{
    background-color: rgb(129, 93, 36);
}

.steel{
    background-color: steelblue;
}

.ice{
    background-color: aqua;
}

.ghost{
    background-color: rgb(66, 0, 219);
}

.dragon{
    background-color: rgb(37, 37, 255);
}

.card:hover {
    animation: bounce 0.5s linear
}
@keyframes bounce {
    20% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(-0px);
    }
}
